* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: 'Poppins', sans-serif; */

}


/* main style start from here */

section{
  padding: 10px 20px;
}

section img {
	max-width:500px;
	float:left;
	margin:10px 20px 10px 0px;
	filter:inherit;
}

section div img{
  max-width:700px;
	float:right;
	margin:10px 20px 10px 0px;
	filter:inherit;
}


.title{
  color: red;
  font-size: 70px;
}



.mail{
  top: 80%;
  left: 0%;
  position: fixed;
  background-color: gray;
  /* width: 300px; */
  /* height: 350px; */

}
button .fas{
  color: orange;
  /* background: blue; */
  font-size: 30px;
} 


.gotopbtn{
  position: fixed;
  bottom: 40px;
  right: 50px;
  height: 39px;
  width: 37px;
  text-align: center;
  display: block;
  background: #27ae60;
  border-radius: 3px;
  cursor: pointer;
}

.gotopbtn a{
  
}

.gotopbtn a span{
  color: #f2f2f2;
  line-height: 39px;
  font-size: 25px;
}





